.DS_Store
.ipynb_checkpoints/jup_1bb_ugs_statsmodels-checkpoint.ipynb
.Rhistory
3a_policy_simulation_climate_change_ugs_heat_metrics-MacBook Pro (3).r
jup_1bb_ugs_statsmodels.ipynb
old/1a_ugs_drivers_cross_section.R
old/2a_ugs_project_citylevel.R
old/convert_ipynb_to_r.R
old/hourly-to-monthly_old_paris.R
old/todo.txt
todo.txt
todo.txt
.Rproj.user
URGED.Rproj
